<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" ui-sref="welcome">Angular Project Starter</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="todo.list">TODO<span class="sr-only">(current)</span></a>
                </li>
                <li class="dropdown" ng-class="{ 'active': $state.includes('music') }">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Music Publisher <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="music.list">List Published</a></li>
                        <li ui-sref-active="active"><a ui-sref="music.new">New Publish</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!--/.container-fluid -->
</div>
