<section class="new-track">
    <h3 ng-if="!isEdit">Create New Track</h3>
    <h3 ng-if="isEdit">Editing: {{track.name}}</h3>
    <div class="row col-sm-6">
        <form role="form" class="new-music-form">
            <div class="form-group">
                <label for="song">Track Name</label>
                <input type="text" class="form-control" id="song" ng-model="track.name" placeholder="Enter track name">
            </div>
            <div class="form-group">
                <label for="artist">Artist</label>
                <input type="text" class="form-control" id="artist" ng-model="track.artist" placeholder="Artist">
            </div>
            <div class="form-group">
                <label for="album">Album</label>
                <input type="text" class="form-control" id="album" ng-model="track.album" placeholder="Album">
            </div>
            <div class="form-group">
                <label for="duration">Duration (ms)</label>
                <input type="text" class="form-control" id="duration" ng-model="track.duration" placeholder="0">
                <p class="help-block">Duration of the track in milliseconds.</p>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="onSubmit()">Submit</button>
            <button type="reset" class="btn btn-default" ng-click="onReset()">Reset</button>
        </form>
    </div>
</section>
