<div class="status-notification">
    <div class="right-group col-xs-5">
        <a class="close" ng-click="newappCtrl.closeForm()"/>
    </div>
    <div ng-class="{ expanded: newappCtrl.notifications.show, info: newappCtrl.notifications.level === 0, warning: newappCtrl.notifications.level === 1 }" class="server-errors">
        <div class="general">
            <span class="icons error-icon hp-icon hp-error"></span>
            <span class="text">{{ newappCtrl.notifications.headline }}</span>
            <a ng-show="newappCtrl.notifications.messages.length > 0" ng-click="toggleNotificationDetails()" ng-class="{ expanded: newappCtrl.notifications.showDetails }" class="icons collapse-icon">
                <span class="hp-icon hp-collapse"></span>
            </a>
            <a ng-click="toggleNotification(false)" class="icons close-icon">
                <span class="hp-icon hp-close"></span>
            </a>
        </div>
        <ul ng-class="{ expanded: newappCtrl.notifications.showDetails }" class="details">
            <li class="item" ng-repeat="msg in newappCtrl.notifications.messages">{{ msg }}</li>
        </ul>
    </div>
</div>